

/* 반응형 추가 */
@media screen and (max-width:760px){
    .inner{width: 100%;}
    .header_top form{
        display: none;
    }
    nav{display: none;}

    .item{
        display: block;
    }
    .item .item_list{
        width: 65%;
        height: 65%;
        margin:30px auto;
    }
    .item .item_list h3{
        font-size: 1.8em;
        padding-left: 20px;
    }
    .item .item_list h3 span{
        font-size: 1em;
    }
    .item .item_list .con_text{
        font-size: 1.8em;
        padding-left: 20px;
    }
    .item .item_list h4{
        margin-right: 150px;
        margin-top: 10px;
    }
    .btn{
        width: 270px;
        height: 80px;
        line-height: 80px; 
        font-size: 1.3em;
    }
    .new_wrap .item{
        display: block;
    }
    .new_wrap .item .item_list{
        width: 65%;
        height: 65%;
       margin:30px auto;
    }     
    .item_list:nth-child(6),.item_list:nth-child(7),.item_list:nth-child(8),.item_list:nth-child(9),.item_list:nth-child(10){
        display: none;
    }

    .plan_con{
        display:block;
    }
    .plan_con> div{
        width: 60%;
        margin: 30px auto;
    }
    .plan_con> div:nth-child(1)>img:nth-child(1){
        position: absolute;
        top: -50px;
        left: 120px;
    }
    .plan_con> div:nth-child(2)>img:nth-child(1){
        position: absolute;
        top: 500px;
        left: 520px;
    }
    .plan_con> div >div{  
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .plan_con> div > p{
        display: none;
    }

    .info .inner{
        display: block;
        /* background-color: #9fd1b8; */
        padding-top: 70px;        
    }
    .info .inner>div{
        width: 70%;
        margin:20px auto;
        background-color:rgba(255, 255, 255, 0);
    }  
    .notice_con ul, .cs> ul{
        display: block; 
        z-index: 999;       
    }
    .notice_con ul li{
        width: 90%;
        height: 250px;
        margin: 20px auto;        
        background-color: white;
    }
    .notice_con ul li:nth-child(3){
        height: 40px;
        padding-bottom: 20px;
        /* background-color: #9fd1b8; */
    }
    .notice_con h2{
        font-size: 1.3em;
        padding:10px
    }
    .notice_con h3{
        font-size: 1.2em;
        padding:20px 10px;
    }
    .cs ul li{
        width: 80%;
        margin: 20px auto;
        background-color: white;
    }
    .cs> ul li:nth-child(1) h2{
        font-size: 1.5em;
        line-height: 2;
    }
    .cs> ul li:nth-child(1) h3{
        font-size: 1.2em;
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .cs> ul li:nth-child(2){
        padding:20px 0;
    }
    .cs> ul li:nth-child(2) img{
        height: 150px;
    }
    .text_banner02{
        z-index: -1;
        position:relative;
        top: -600px;
        background-color: rgba(159, 209, 184, 0);
          }

    .foot{
        width: 100%;
        height: 300px;
        margin:0 auto;     
        position: relative;
    }
    .foot_top{
        display: block;
        margin-left: 50px;  
    }
    .foot_top h1{
        margin-top: 0;
    }
    .foot_top .login ul {
        display: flex;
        font-size: 0.9em;
    }
    .com_btn>div{
        display:block;
        margin-top: 40px;
    }
    .foot_top> ul{
        width:70%;
        font-size: 0.9em;
    }
    .foot_top > ul li::after{
        content:"";
        padding: 0;
    }
    .com_info{
        display: block;           
    }
    .com_info > p{
        width: 95%;
        font-size: 0.8em;
        background-color: #eee;
        position:absolute;
        top: 130px;
        left: 10px;
        word-break: break-all;
        z-index: 999;
        display: none;
    }
    .foot_bottom>p{
        display: none
    }
}