@font-face {
    font-family: 'Binggrae-Bold';
    src: url('../font/Binggrae-Bold.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


*{margin:0; padding:0;}
ul, li{list-style: none;}
a{text-decoration: none; color:inherit;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
#wrap{width: 100%;}
.inner{width: 1200px; margin:0 auto;}


header{margin-top: 20px;}
.header_top{
    display: flex;
    justify-content: flex-end;
}
.search_form{
    position: relative;
}
.search-input{
    width: 300px;
    height: 50px;
    border:3px solid#333;
    border-radius: 30px;
    padding-left: 20px;
}
.search_form img{
    position: absolute;
    top:10px;
    right: 10px;
    cursor:pointer;
}
.top_nav{
    padding-top: 10px;
    padding-left: 10px;
}
.top_nav img:first-child{padding-right: 5px;}

.header_bottom{
    display: flex;
    justify-content:space-between;
    height: 100px;
    position: relative;
}
#logo img{
    width: 220px;
    height: 100px;
}
#logo a{
    display: block;
}

/* 토글메뉴 */
#main_toggle{
    position: absolute;
    right:0;
    top: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
    display: none;
}
#main_toggle div{
    height: 6px;
    background-color:black;
    border-radius: 3px;
    margin-bottom: 16px;    
}
#main_toggle.on div:nth-child(1){
    background-color:#003CA6;
    transition-duration: 0.3s;
}
#main_toggle.on div:nth-child(2){
    transform: rotate(45deg);
    transition-duration: 0.3s;
    background-color: white;
}
#main_toggle.on div:nth-child(3){
    transform: translateY(-22px) rotate(-45deg);
    transition-duration: 0.3s;
    background-color: white;
}



nav{
    width: 920px;
    font-size: 1.1em;
}
nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    z-index: 999;    
}
nav ul a{
    display: block;
    line-height: 100px;
}
nav ul a:hover{
    color: darksalmon;
    font-weight: 700;
}
nav ul>li{
    width: 10%;
    text-align:center;  
    position: relative;
}
nav ul>li:nth-child(3){
    width: 13%;
}
nav ul>li:nth-child(9){
    width: 13%;
}
nav ul>li ul{ 
    position: absolute;
    display: none;    
}
nav ul>li .bot_list li{
    width: 150px;
    background-color: #ffffff;
    text-align: left;
    padding-left: 20px;
}
nav ul>li .bot_list:nth-child(2) li{
    width: 200px;
}
nav ul>li ul li a{
    font-size: 0.8em;    
    line-height: 2.5;
    color: #555555;
    padding-left: 5px;
}
nav ul>li ul li a:hover{
    color: #000000;
    font-weight: 700;
}

.main_banner{      
    width: 1900px;
    margin:0 auto;
}

/* ************오늘만특가*********** */
.title{
    text-align: center;
    margin: 100px 0;

}
.item{
    display: flex;
}
.item .item_list{
    border:2px solid#333;
    border-radius: 10px;
    width: 260px;
    height: 400px;
    margin-right: 40px;
}
.new_wrap .item .item_list{
    border:2px solid#eee;
    width: 220px;
    height: 340px;
    margin-right: 15px;
    margin-bottom:30px;
}
.item .item_list img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.item .item_list h3{
    font-size: 1em;
    line-height: 2;
    padding-left: 10px;
}
.item .item_list h3 span{
    font-size: 0.9em;
    color:#555;
}
.item .item_list .con_text{
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    padding-left: 10px;
}
.item .item_list p{
    font-weight: 700;
    line-height: 2;
}
.item .item_list p span{
    color:red;
    margin-right: 10px;
}
.item .item_list h4{
    color: #777;
    font-size: 0.9em;
    font-weight: 400;
    margin-right: 80px;
    margin-top: 7px;
    text-decoration: line-through;
}
.more_btn{
    margin:50px auto;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.btn{
    display: flex;
    justify-content: space-between;
    border: 1px solid#333;
    border-radius: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    line-height: 50px; 
    text-align: center;
    font-weight:500;
}
.btn span:nth-child(1){
    width: 80%;
    text-align: center;
}
.btn span:nth-child(2){
    width: 20%;
    background-color: #333;
    border-radius: 0px 8px 8px 0px  ;
}


/* ***********신상품********** */
.new .new_list{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.new .new_list a{
    padding: 0 10px;    
}
.new .new_list a:hover{
    font-weight: 600;
}
.new_wrap .item{
    display: flex;
    flex-wrap: wrap;       
}
.item_list h3{
    margin-top: 25px;
}
.item_list h3>span{
    font-size: 0.9em;
    font-weight: 400;
}
.item_list h4{
    margin-left:10px;
}

.new_wrap .more_btn{
    margin:20px auto;
}


/* 텍스트 애니메이션 */
#text_flow{
    height: 100px;
    color:white;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top:100px;
    font-family: 'Binggrae-Bold';
}
#text_out{
    position: relative;
    animation-name: text_flow;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    width:fit-content;
}
#text_out:nth-child(1){    
    animation-duration: 25s;
    background-color: #aeeccb;
    font-size: 45px;

}
#text_out:nth-child(2){    
    animation-duration: 25s;
    background-color: #55c288;
    font-size: 25px;
}
@keyframes text_flow {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
.text_in{
    white-space: nowrap;
}
/* 텍스트 애니메이션 끝 */

/* md pick */
.mdpick>.inner{
    overflow: hidden;
}
.mdpick_wrap{
    width:350px;
    height: 520px;
    /* background-color: yellow; */
    margin: 0 auto;
    position: relative;
}
.goods{
    position: absolute;
    top:110px;    
    width:180px;
}
.goods p{
    display: none;
}
.goods:nth-child(1){
    left:-450px;
    }
.goods:nth-child(2){
left:-250px;
}
.goods:nth-child(4){
    right:-250px;
}
.goods:nth-child(5){
    right:-450px;
}
.bg_round img{
    width:100%;
    border-radius: 20px;
    border: 2px solid#333;
}
.goods.center{
    width:100%;
    left:0;
    top:0;
}
.goods.center p{
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding-top: 48px;
    height: 40px;
    background-image: url(../image/mdpick_round.png);
    background-repeat: no-repeat;
    background-position: top center;
}
.arrow{
    position: absolute;
    top:200px;
}
.arrow:nth-child(6){
left:-60px;
}
.arrow:nth-child(7){
    right:-60px;
}
/* md pick 끝*/

/* 기획전 */
.plan_con{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.plan_con> div{
    width: 50%;
}

.plan_con> div:nth-child(1)>img:nth-child(1){
    position: absolute;
    top: -60px;
    left: -35px;
}
.plan_con> div:nth-child(2)>img:nth-child(1){
    position: absolute;
    top: -60px;
    right: -10px;
}
.plan_con> div>img:nth-child(2){
    border: 3px solid#2D2E83;
    border-radius: 15px;
}
.plan_con> div >div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 27%;
}
.plan_con> div >div>div{
    margin-right: 20px;
}
.plan_con> div >div>div img{
    border-radius: 10px;
}
.plan_more{
    height: 40px;
    margin-top: 35px;
    color:#2D2E83;
    border: 2px solid#2D2E83;
    border-radius: 30px;
    padding-left:  20px;
    padding-right: 45px;
    padding-top: 5px;
    box-sizing: border-box;   
    position: relative;
    background-image: url(../image/arrow_more.png);
    background-repeat: no-repeat;
    background-position: top 7px right 15px;
}
.plan_more:hover{
    background-color: #2D2E83;
    color: #fff;
    background-image: url(../image/arrow_more2.png);
    background-repeat: no-repeat;
    background-position:  top 7px right 15px;
}

.plan_more span{
    position: absolute;
    top: 7px;
    left: 65px;
}
.plan_con> div > p{
    font-size: 1.2em;
    padding: 10px 0 120px 10px;
    
}
/* 기획전 끝 */

/* 공지/고객센터 */
footer{
    height: 800px;    
}

.info{
    z-index: 999;
    margin-top: 130px;
}
.info .inner{
    display: flex;
    justify-content: space-between;
}
.info .inner>div{
    border: 3px solid #333;
    border-radius: 20px;
    background-color: white;
    width: 48%;
    box-sizing: border-box;
}
.info .inner > div > div:first-child{
    text-align: center;
    height: 110px;

}
.info .inner > div > div> img{
    width: 200px;
    margin: 30px 0;
}
.notice_con ul, .cs> ul{
    display: flex;
    justify-content: space-between; 
    padding:0px 30px 30px 30px ;   
}
.notice_con ul li{
    border:1px solid#777;
    border-radius: 10px;
    width: 180px;
}
.notice_con ul li:nth-child(3){
    border:none;
    width: 70px;
    margin-top: 50px;
}
.notice_con h2{
    font-size: 1em;
    color:#ffffff;
    background-color: #777;
    border-radius: 10px 10px 0 0;
    padding:5px
}
.notice_con h3{
    font-size: 0.8em;
    font-weight: 500;
    padding:5px;
}
.cs ul li{
    border: 1px solid#777;
    border-radius: 10px;
    width: 48%;
    text-align: center;
}
.cs> ul li:nth-child(1) h2{
    font-size: 1.7em;
    color:#ffffff;
    line-height: 2em;
    background-color: #777;
    border-radius: 10px 10px 0 0;
}
.cs> ul li:nth-child(1) h3{
    font-size: 1em;
    margin-top: 15px;
    font-weight: 500;
}
.cs> ul li:nth-child(2){
    padding:10px 0;
}
.cs> ul li:nth-child(2) img{
    height: 100px;
}

.foot{
    margin-top: 200px;
    position: relative;
}
.foot_top{
    display: flex;
}
.foot_top h1{
    margin-right: 80px;
    margin-top: -40px;
}
.foot_top .login ul {
    display: none;
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}
.foot_top .login ul li{
    margin-right: 20px;
}
.foot_top .login ul li:hover{
    font-weight: 700;
}
.foot_top > ul{
    display: flex;
    justify-content: space-between;
}
.foot_top > ul li::after{
    content:"|";
    padding: 0 10px;
}
.foot_top > ul li a:hover{
    color: #ffffff;
}

.foot_bottom>p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
}
.foot_bottom >p > a:hover{
    font-weight: 500;
}

.com_info{display: none;}
.com_info > a{
    display: block;    
    position: absolute;
    top: 102px;
    left:250px;
}
.com_info > a img{
    position: absolute;
    top: 0;
    left: 85px;
}
.com_info > a:hover{
    font-weight: 500;
}

/* 라운트 텍스트 애니메이션 */
.st1{
    fill:none;
}

.text_banner02{
    z-index: -1;
    position:relative;
    top: -900px;
    background-color: #9fd1b8;  
    overflow: hidden;
    width: 100%;
}


/* 반응형 추가 */
@media screen and (max-width:760px){
    .inner{width: 100%;}
    .header_top form{
        display: none;
    }

    .item{
        display: block;
    }
    .item .item_list{
        width: 65%;
        height: 65%;
        margin:30px auto;
    }
    .item .item_list h3{
        font-size: 1.8em;
        padding-left: 20px;
    }
    .item .item_list h3 span{
        font-size: 1em;
    }
    .item .item_list .con_text{
        font-size: 1.8em;
        padding-left: 20px;
    }
    .item .item_list h4{
        margin-right: 150px;
        margin-top: 10px;
    }
    .btn{
        width: 270px;
        height: 80px;
        line-height: 80px; 
        font-size: 1.3em;
    }
    .new_wrap .item{
        display: block;
    }
    .new_wrap .item .item_list{
        width: 65%;
        height: 65%;
       margin:30px auto;
    }     
    .item_list:nth-child(6),.item_list:nth-child(7),.item_list:nth-child(8),.item_list:nth-child(9),.item_list:nth-child(10){
        display: none;
    }

    .goods:nth-child(1), .goods:nth-child(2), .goods:nth-child(4), .goods:nth-child(5){
    }

    .plan_con{
        display:block;
    }
    .plan_con> div{
        width: 60%;
        margin: 30px auto;
    }
    .plan_con> div:nth-child(1)>img:nth-child(1){
        position: absolute;
        top: -50px;
        left: 120px;
    }
    .plan_con> div:nth-child(2)>img:nth-child(1){
        position: absolute;
        top: 500px;
        left: 520px;
    }
    .plan_con> div >div{  
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .plan_con> div > p{
        display: none;
    }

    .info .inner{
        display: block;
        /* background-color: #9fd1b8; */
        padding-top: 70px;        
    }
    .info .inner>div{
        width: 70%;
        margin:20px auto;
        background-color:rgba(255, 255, 255, 0);
    }  
    .notice_con ul, .cs> ul{
        display: block; 
        z-index: 999;       
    }
    .notice_con ul li{
        width: 90%;
        height: 250px;
        margin: 20px auto;        
        background-color: white;
    }
    .notice_con ul li:nth-child(3){
        height: 40px;
        padding-bottom: 20px;
        /* background-color: #9fd1b8; */
    }
    .notice_con h2{
        font-size: 1.3em;
        padding:10px
    }
    .notice_con h3{
        font-size: 1.2em;
        padding:20px 10px;
    }
    .cs ul li{
        width: 80%;
        margin: 20px auto;
        background-color: white;
    }
    .cs> ul li:nth-child(1) h2{
        font-size: 1.5em;
        line-height: 2;
    }
    .cs> ul li:nth-child(1) h3{
        font-size: 1.2em;
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .cs> ul li:nth-child(2){
        padding:20px 0;
    }
    .cs> ul li:nth-child(2) img{
        height: 150px;
    }
    .text_banner02{
        z-index: -1;
        position:relative;
        top: -600px;
        background-color: rgba(159, 209, 184, 0);
          }

    .foot{
        width: 100%;
        height: 300px;
        margin:0 auto;     
        position: relative;
    }
    .foot_top{
        display: block;
        margin-left: 50px;  
    }
    .foot_top h1{
        margin-top: 0;
    }
    .foot_top .login ul {
        display: flex;
        font-size: 0.9em;
    }
    .com_btn>div{
        display:block;
        margin-top: 40px;
    }
    .foot_top> ul{
        width:70%;
        font-size: 0.9em;
    }
    .foot_top > ul li::after{
        content:"";
        padding: 0;
    }
    .com_info{
        display: block;           
    }
    .com_info > p{
        width: 95%;
        font-size: 0.8em;
        background-color: #eee;
        position:absolute;
        top: 130px;
        left: 10px;
        word-break: break-all;
        z-index: 999;
        display: none;
    }
    .foot_bottom>p{
        display: none
    }
}